# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env

# Ignore output files
*.xlsx
*.csv